@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #8e44ad, #9b59b6, #2980b9, #3498db);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#root {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

#app-container {
    width: 90%;
    height: 90%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    overflow: auto;
    max-height: 80vh;
    font-family: 'Noto Sans JP', sans-serif;
}

.user-avatar {
    border-radius: 50%;
}

.App {
  display: flex;
  justify-content: center;
}

#l-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40%;
  word-wrap: break-word;
}

#r-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 40%;
  word-wrap: break-word;
  align-items: center;
}

#r-container .user-info {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

#r-container .user-info img {
  width: 100px;
  height: 100px;
  background: #555;
}

#r-container .user-info h1 {
  margin: 0;
  white-space: nowrap;
}

#r-container .user-url {
  margin-top: 10px;
}

br {
    margin-right: 5%;
    margin-left: 5%;
}

.table tbody tr {
    border-bottom: 3px solid #ccc
}

.table tbody tr:last-chid {
    border-bottom: none;
}

.user-info {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info img {
  width: 100px;
  height: 100px;
  background: #555;
}

.user-info h1 {
  margin: 0; 
  white-space: nowrap;
}

.user-url {
    margin-top: 10px;
}
